@import "../../../../../styles/var.common.scss";

.add-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $greyF6;
  padding-block: 8px;
  padding-inline: 15px;
  transition: padding 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    padding-inline: 30px;
  }

  &.add {
    padding-block: 25px;
  }

  &__list {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &.add &__list {
    margin-bottom: 26px;
  }

  &__btn {
    display: flex;
    gap: 4px;
    align-items: center;
    width: max-content;
    transition: outline 0.3s ease-in-out;
  }

  &__btn-icon {
    pointer-events: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $firm98;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &::before,
    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 50%;
      height: 2px;
      background-color: $firm98;
      border-radius: 20%;
      transition: background-color 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  &__btn-text {
    pointer-events: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    transition: color 0.3s ease-in-out;
  }

  &__btn:hover > &__btn-icon,
  &__btn:focus-visible > &__btn-icon {
    background-color: $firm98;
  }

  &__btn:hover > &__btn-icon::before,
  &__btn:hover > &__btn-icon::after,
  &__btn:focus-visible > &__btn-icon::before,
  &__btn:focus-visible > &__btn-icon::after,
  &__btn:active > &__btn-icon::before,
  &__btn:active > &__btn-icon::after {
    background-color: $white;
  }

  &__btn:hover > &__btn-text,
  &__btn:focus-visible > &__btn-text {
    color: $firm98;
  }

  &__btn:focus-visible {
    outline: 1px solid $firm98;
    outline-offset: 2px;
  }

  &__btn:active > &__btn-icon {
    background-color: $firm80;
    box-shadow: inset 0 0 0 2px $firm80;
  }

  &__btn:active > &__btn-text {
    color: $firm80;
  }

  &__btn:disabled {
    pointer-events: none;
  }

  &__btn:disabled > &__btn-text {
    color: $greyC8;
  }

  &__btn:disabled > &__btn-icon {
    box-shadow: inset 0 0 0 2px $greyC8;
  }

  &__btn:disabled > &__btn-icon::before,
  &__btn:disabled > &__btn-icon::after {
    background-color: $greyC8;
  }
}
