@import "../../../../../../../styles/var.common.scss";

.social {
  display: flex;
  gap: 7px;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__hint {
    pointer-events: none;
    align-self: center;
    position: absolute;
    bottom: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 37px;
    transform: translateY(-30px);
    opacity: 0;
  }

  &__hint-content {
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $white;
    white-space: nowrap;
    background-color: $black33;
    padding: 7px 14px;
    z-index: 1;
  }

  &__hint-arrow {
    position: absolute;
    bottom: 5px;
    width: 14px;
    height: 14px;
    background-color: $black33;
    transform: rotate(56deg) skewX(25deg);
  }

  &__icon {
    position: relative;
    width: 16px;
    height: 16px;

    &::after {
      content: "";
      position: absolute;
      inset: -4px;
      box-shadow: inset 0 0 0 1px $firm98;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__icon > svg > g,
  &__icon:hover > svg > path {
    transition: opacity 0.3s ease-in-out;
  }

  &__icon:hover > svg > g,
  &__icon:hover > svg > path {
    opacity: 1;
  }

  &__icon:hover + &__hint {
    animation: show 0.6s forwards linear;
  }

  &__icon:focus-visible {
    outline: none;
  }

  &__icon:focus-visible::after {
    opacity: 1;
  }

  &__icon:focus-visible + &__hint {
    animation: show 0.6s forwards linear;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  20% {
    opacity: 1;
    transform: translateY(10px);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
