$firm9A: #9a75ff;
$firm98: #9873ff;
$firm80: #8052ff;
$firmB8: #b89eff;

$greyB0: #b0b0b0;
$greyD1: #c9c7d1;
$greyC8: #c8c5d1;
$greyD6: #d6d6d6;
$greyF5: #f5f5f5;
$greyF6: #f4f3f6;
$greyE8: #e3e2e8;
$greyEB: #e7e5eb;

$redEF: #ef6b4d;
$redF0: #f06a4d;
$redF7: #f7b4a6;

$black33: #333333;
$black99: #33333399;

$white: #ffffff;
