@import "../../../../../styles/var.common.scss";

@mixin input-font {
  font-size: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-block: 16px 25px;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 26px;
  }

  &__input {
    @include input-font;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $greyE8;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  &__placeholder {
    @include input-font;
    pointer-events: none;
    position: absolute;
    left: 0;
    color: $greyB0;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in,
      line-height 0.3s ease-in-out;

    & > span {
      color: $firm98;
    }
  }

  &__input:hover {
    border-color: $firm98;
  }

  &__input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $firm98;
  }

  &__input:focus-visible + &__placeholder {
    font-size: 1rem;
    line-height: 1.3rem;
    transform: translateY(-20px);
  }

  &__input:not(:placeholder-shown) + &__placeholder {
    font-size: 1rem;
    line-height: 1.3rem;
    transform: translateY(-20px);
  }

  &__input.invalid {
    border-color: $redF7;
  }
}
